@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 16px;
    font-family: Sofia Pro, Roboto, Poppins;
}

body {
    background-color: #494f5c;
    width: 99vw;
    height: 200vh;   
}

.navbar {
    z-index: 1;
    letter-spacing: 0.3px;
    position: fixed;
    width: 100%;
    height: 66px;
    background-color: #3b3e48;
    display: flex;
    justify-content: center;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.45);
}

.navbar .navbar-content {
    display: flex;
    background-color: #3b3e48;
    height: 66px;
    width: calc(100vw - 13.5em);
    align-items: center
}

.navbar .navbar-content .humble-logo {
    cursor: pointer;
    height: 50px;
    padding: 10px;
    margin-left: 90px;
}

.navbar .navbar-content .navbar-items, .navbar-items-2{
    display: flex;
    background-color: #3b3e48;
    line-height: px; /*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
    padding: 0 15px;
    gap: 30px;
}

.navbar-items-2 {
    gap: 40px;
}

a {
    font-size: 15px;
    font-weight: 900;
    color: #d5d9e1;
}

a:hover {
    color: #ffffff;
}

.navbar-search-bar input {
    font-weight: bold;
    color: white;
    line-height: normal;
    background-color: #282c34;
    width: 340px;
    padding: 14px 16px;
    border-radius: 5px;
}

::placeholder {
    color: #a0a4ad;
}

.navbar-search-bar button {
    cursor: pointer;
    background-color: #282c34;
    font-size: 19px;
    color: #d5d9e1;
    padding: 14px;
    border-radius: 5px;
}

.navbar .navbar-content .navbar-search-bar {
    border-radius: 5px;
    background-color: #282c34;
    margin-left: 500px;
    margin-right: 10px;

}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.takeover-content, .mosiac-container {
    width: 1500px;
    height: 632px;
    aspect-ratio: 16 / 9;
}

.mosiac-container {
    background-image: url("HUMBLE.png");
    background-repeat: no-repeat;
    margin-top:105px;
}

.mosiac-container .takeover-content {
    padding: 3em 2.5em 2em;
    line-height: 1.3em;
    color: #ffffff;
}

.mosiac-container .takeover-content .title {
    letter-spacing: 1.3px;
    padding: 0px 0px;
    font-weight: 900;
    font-size: 2.5em;
    text-shadow: 0 4px 0 rgba(86,62,62,0.3);
    margin-bottom: 0.5em;
}

.mosiac-container .takeover-content .para {
    width: 600px;
    text-shadow: 0 2px 0 rgba(0,0,0,0.2);
    font-weight: 500;
}

strong {
    font-weight: 900;
    font-size: 1em;
}

.mosiac-container .takeover-content .para p {
    display: block;
    padding: 10px 0px;
    font-size: 1.15em;
    line-height: 1.8em;
}

.takeover-content .takeover-button .bundles-button {
    text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 40px 0px;
    background-color: rgb(22, 159, 227);
    cursor: pointer;
    color: rgb(255, 255, 255);
    width: 370px;
    height: 3.6em;
    font-weight: 900;
    font-size: 20px;
    border-radius: 4px;
    margin: 40px 0px;
    letter-spacing: 0.5px;
}

.takeover-content .takeover-button .bundles-button:hover {
    background-color: rgb(23, 139, 197);
}


.featured-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    height: 350px;
    width: 100%;
}

.featured-container {
    max-width: 1500px;
    position: relative;
    background-color: #ffffff;
}

.carousel-container .carousel {
    display: flex;
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    gap: 40px;
}
.carousel img {
    height: 260px;
    object-fit: cover;
    width: calc(100% / 3);
}

.carousel img:first-child {
    margin-left: 0px;
}

.carousel-container i {
    top: 50%;
    height: 46px;
    width: 46px;
    position: absolute;
    cursor: pointer;
    font-size: 1.2rem;
    text-align: center;
    line-height: 46px;
    background-color: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
}

.wrapper i:first-child {
    left: -23px;

}

.wrapper i:last-child { 
    right: -23px;
}
